{% extends "base.html" %}

{% block content %}

<div class="cost-summary">
  <form action="" method="POST">
    <label for="namespaces">Choose Namespace</label>
    <select name="namespaces" onchange="this.form.submit()">
      {% for namespace in data.namespaces %}
        {% if data.selected_namespace == namespace %}
          <option value="{{ namespace }}" selected='selected'>{{ namespace }}</option>
        {% else %}
           <option value="{{ namespace }}" >{{ namespace }}</option>
        {% endif %}
      {% endfor %}
    </select>
  </form>
  <table class="table">
    <thead>
      <!-- NAME      UNITS     RUNNING   STATUS    RESTARTS   NODE      IP        AGE-->
      <tr> <th>Namespace</th>
        <th>Name</th>
        <th>CPU (request)</th>
        <th>Memory (request)</th>
        <th>CPU (limits)</th>
        <th>Memory (limits)</th>
        <th>GPU</th>
        <th>Instance Type</th>
        <th>Hourly Cost</th>
      </tr>
      <tbody>
        {% for pod in data.pods %}
            {% if pod.req_cpu == 0 and pod.lim_cpu == 0 %}
                {% if pod.req_memory == 0 and pod.lim_memory == 0 %}
         <tr style="background-color:#e0ce47">
                {% endif %}
            {% else %}
         <tr>
            {% endif %}
          <td>{{ pod.namespace|e }}</td>
          <td>{{ pod.name|e }}</td>
          <td>{{ pod.req_cpu|round(2)|e }}</td>
          <td>{{ pod.req_memory|round(2)|e }}</td>
          <td>{{ pod.lim_cpu|round(2)|e }}</td>
          <td>{{ pod.lim_memory|round(2)|e }}</td>
          <td>{{ pod.gpu }}</td>
          <td>{{ pod.instance_type }}</td>
          <td>{{ pod.cost }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </thead>
  </table>
  <p>
    <strong>Note:</strong> Nodeless cost is projected based on cpu and memory resource requests and limits for the applications running on the cluster. Projected cost uses on-demand instance price by default. If row is yellow, it means that resource requirements are not defined for given pod.
      This may falsify calculations and it's considered bad practice. Please set resource requirements for those pods to get a more giaccurate forecast!
  </p>
  <form action="" method="POST">
    <label for="timeframes">Timeframe</label>
    <select name="timeframes" onchange="this.form.submit()">
      {% for timeframe in data.timeframes %}
				{% if data.selected_timeframe == timeframe %}
					<option value="{{ timeframe }}" selected='selected'>{{ timeframe }}</option>
				{% else %}
					 <option value="{{ timeframe }}" >{{ timeframe }}</option>
				{% endif %}
      {% endfor %}
    </select>
  </form>
  {% with cost=data.cost, num_pods=data.pod_count, timeframe=data.selected_timeframe %}
    {% include 'cost_card.html' %}
  {% endwith %}
</div>

{% endblock %}
