{% extends "base.html" %}

{% block content %}

<table class="table">
  <thead>
    <!-- NAME      UNITS     RUNNING   STATUS    RESTARTS   NODE      IP        AGE-->
    <tr>
      <th>Namespace</th>
      <th>Name</th>
      <th>CPU</th>
      <th>Memory</th>
      <th>GPU</th>
      <th>Instance Type</th>
      <th>Cost</th>
    </tr>
    <tbody>
      {% for pod in pods %}
      <tr>
	<td>{{ pod.namespace|e }}</td>
	<td>{{ pod.name|e }}</td>
	{% if pod.no_resource_spec %}
	<td><span class="text-danger">{{ pod.cpu|e }}</span></td>
	<td><span class="text-danger">{{ pod.memory|e }}</span></td>
	{% else %}
	<td>{{ pod.cpu|e }}</td>
	<td>{{ pod.memory|e }}</td>
	{% endif %}
	<td>{{ pod.gpu }}</td>
	<td>{{ pod.instance_type }}</td>
	<td>{{ pod.cost }}</td>
      </tr>
      {% endfor %}
    </tbody>
</table>

{% endblock %}
