{% extends "base.html" %}

{% block content %}

<div class="cost-summary">
  <form action="" method="POST">
    <select name="namespaces" onchange="">
      {% for namespace in data.namespaces %}
        {% if data.selected_namespace == namespace %}
          <option value="{{ namespace }}" selected='selected'>{{ namespace }}</option>
        {% else %}
           <option value="{{ namespace }}" >{{ namespace }}</option>
        {% endif %}
      {% endfor %}
    </select>
    <input type="submit" />
  </form>
  <table class="table">
    <thead>
      <!-- NAME      UNITS     RUNNING   STATUS    RESTARTS   NODE      IP        AGE-->
      <tr> <th>Namespace</th>
        <th>Name</th>
        <th>CPU</th>
        <th>Memory</th>
        <th>GPU</th>
        <th>Instance Type</th>
        <th>Cost</th>
      </tr>
      <tbody>
        {% for pod in data.pods %}
        <tr>
          <td>{{ pod.namespace|e }}</td>
          <td>{{ pod.name|e }}</td>
          {% if pod.no_resource_spec %}
          <td><span class="text-danger">{{ pod.cpu|e }}</span></td>
          <td><span class="text-danger">{{ pod.memory|e }}</span></td>
          {% else %}
          <td>{{ pod.cpu|e }}</td>
          <td>{{ pod.memory|round(2)|e }}</td>
          {% endif %}
          <td>{{ pod.gpu }}</td>
          <td>{{ pod.instance_type }}</td>
          <td>{{ pod.cost }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </thead>
  </table>
  <p>
    <strong>Note: Nodeless cost is projected based on cpu and memory resource requests and limits for the applications running on the cluster</strong>
  </p>
  {% with cost=data.cost, num_pods=data.pod_count %}
    {% include 'cost_card.html' %}
  {% endwith %}
</div>

{% endblock %}
