<nav class="col-md-2 d-none d-md-block bg-light sidebar">
  <div class="sidebar-sticky">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link {{ 'active' if active_page == 'cost_summary' }}" href="/">
          <span data-feather="layers"></span>
          Cost Summary
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link {{ 'active' if active_page == 'node_cost' }}" href="node_cost">
          <span data-feather="server"></span>
          Current Cost
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link {{ 'active' if active_page == 'nodeless_cost' }}" href="/nodeless_forcast">
          <span data-feather="layers"></span>
          Nodeless Cost Forecast
        </a>
      </li>
    </ul>

<!--    <ul class="nav flex-column mb-2">
      <li class="nav-item">
        <a class="nav-link {{ 'active' if active_page == 'settings' }}" href="settings">
          <span data-feather="settings"></span>
          Settings
        </a>
      </li>
</ul> -->
  </div>
</nav>
